<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{common :: commonHead}">
  <title>Product Manager</title>
</head>

<body>
<div class="container">
  <h1 class="mt-5">Product List</h1>

  <div class="d-flex justify-content-between align-items-center mb-3">

    <div>
      <a class="btn btn-primary" th:href="@{/products/new}"
         sec:authorize="hasRole('ROLE_ADMIN')">
        Create New Product
      </a>

      <a class="btn btn-outline-secondary ms-2"
         th:href="@{/admin/users}"
         sec:authorize="hasRole('ROLE_ADMIN')">
        View Users
      </a>
    </div>

    <div class="d-flex align-items-center">
      <div class="me-3 text-end">
        <span class="fw-bold" sec:authentication="name"></span>
        <small class="text-muted d-block">로그인 중</small>
      </div>

      <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
      </form>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Made In</th>
      <th>Price</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${listProducts}">
      <td th:text="${product.id}">Product ID</td>
      <td th:text="${product.name}">Name</td>
      <td th:text="${product.brand}">Brand</td>
      <td th:text="${product.madeIn}">Made in</td>
      <td th:text="${product.price}">Price</td>
      <td sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="btn btn-primary btn-sm" th:href="@{'/products/edit/' + ${product.id}}">Edit</a>
        <a class="btn btn-danger btn-sm" th:href="@{'/products/delete/' + ${product.id}}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div th:insert="~{common :: commonScript}"></div>
</body>
</html>