<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common :: commonHead}">
    <title>Login</title>
</head>
<body>
<div class="container">
    <h1 class="mt-5 text-center">로그인</h1>

    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">이메일</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>

        <div th:if="${param.error}" class="alert alert-danger">이메일 또는 비밀번호가 틀렸습니다.</div>
        <div th:if="${param.logout}" class="alert alert-success">로그아웃되었습니다.</div>

        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>

<div th:insert="~{common :: commonScript}"></div>
</body>
</html>
